body {
  background-color: #222222;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: large;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #ff6a00;
  font-size: 1.5rem;
  font-weight: bold;
}

#title {
  border-radius: 1rem;
  background-color: #333333;
  padding: 1rem;
}

.cool {
  border: 1px solid #ffffff;
  margin: 1rem;
  color: #29b1ff;
  background-color: hsl(0, 0%, 27%);
  padding: 1.5rem;
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.2);
}

.cool > b {
  color: rgb(172, 235, 48);
  font-style: italic;
}
